# This is the configuration file valid for the development environment.

debug = true
debugListen = "127.0.0.1:9001"

[cadence]
domain = "enduro"
address = "127.0.0.1:7400"

[api]
listen = "127.0.0.1:9000"
debug = false

[database]
dsn = "enduro:enduro123@tcp(127.0.0.1:7450)/enduro"

[[watcher.minio]]
name = "dev-minio"
redisAddress = "redis://127.0.0.1:7470"
redisList = "minio-events"
endpoint = "http://127.0.0.1:7460"
pathStyle = true
key = "36J9X8EZI4KEV1G7EHXA"
secret = "ECk2uqOoNqvtJIMQ3WYugvmNPL_-zm3WcRqP5vUM"
region = "us-west-1"
pipeline = "am"
retentionPeriod = "10s"
stripTopLevelDir = true

[[watcher.filesystem]]
name = "dev-fs"
path = "./hack/watched-dir"
inotify = true
pipeline = "am"
retentionPeriod = "11s"
stripTopLevelDir = true

[[pipeline]]
name = "am"
baseURL = "http://127.0.0.1:62080"
user = "test"
key = "test"
transferDir = "~/.am/ss-location-data"
processingDir = ""
processingConfig = "automated"
# transferLocationID = "88f6b517-c0cc-411b-8abf-79544ce96f54"

[[hooks."hari"]]
baseURL = "" # E.g.: "https://192.168.1.50:8080/api"
mock = true
disabled = false

[[hooks."prod"]]
receiptPath = "./hack/production-system-interface"
disabled = false
