@import '~bootstrap/scss/_functions.scss';
@import '~bootstrap/scss/_variables.scss';
@import '~bootstrap/scss/_mixins.scss';
@import '~bootstrap-vue/src/variables.scss';
@import '~bootstrap-vue/src/utilities.scss';

$enduro-c1: #5e2750;
$enduro-c2: lighten(#5e2750, 10%);
$enduro-c3: lighten(#5e2750, 15%);

/* Very light backgrounds over white. */
$enduro-bglight: #f5f5f5;

/* Very light bordre over white. */
$enduro-bolight: #eaecef;
