@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index.scss';

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1012px;
  }
}

#nav {
  .navbar-brand {
    user-select: none;
  }
  nav {
    background-color: $enduro-c1 !important;
  }
  @media (min-width: 576px) {
    .nav-link.router-link-active {
      color: white;
      background-color: #fff2;
    }
  }
  .nav-link.router-link-active {
    @extend .rounded-sm;
  }
}

footer {
  font-size: .8rem;
  .container {
    text-align: center;
    border-top: 1px solid $enduro-bolight;
    color: #999;
  }
}

::selection {
  color: white;
  background-color: #dd00aa;
}
