/*

Add styles or override variables from the theme here.

*/

// Variables in _variables.css.
$primary: #30638E;
$primary-light: lighten($primary, 75%);
$secondary: #FFA630;
$success: #3772FF;
$info: #C0E0DE;
$warning: #ED6A5A;
$danger: #ED6A5A;
$white: #fff;
$light: #D3F3EE;

// Extra variables.
$e-gray: #888;

// Enduro colors.
$enduro-c1: #5e2750;
$enduro-c2: lighten(#5e2750, 10%);
$enduro-c3: lighten(#5e2750, 15%);

// Make headings smaller.
$font-size-base: 1rem; // Typically 16px.
h1 { font-size: $font-size-base * 1.75 !important; }
h2 { font-size: $font-size-base * 1.60 !important; }
h3 { font-size: $font-size-base * 1.45 !important; }
h4 { font-size: $font-size-base * 1.30 !important; }
h5 { font-size: $font-size-base * 1.15 !important; }
h6 { font-size: $font-size-base * 1.00 !important; }

// Since search is disabled, hide it.
form.td-sidebar__search {
  display: none !important;
}
.td-sidebar-nav {
  margin-top: 15px;
}

// Main sidebar should use smaller fonts.
.td-sidebar ul ul li {
  font-size: 0.9rem;
}

// TOC tweaks.
#TableOfContents {
  font-size: 0.8rem;
  margin-top: 20px;
  a {
    font-weight: 400;
    &,
    &:active,
    &:visited,
    &:link {
      color: #666 !important;
    }
    &.active,
    &:hover {
      color: $primary !important;
    }
  }
}

// Content meta links should be less noticeable.
.td-page-meta {
  font-size: 0.70rem;
  border-bottom: 1px solid lighten($e-gray, 40%);
  a {
    color: $e-gray;
  }
  i {
    margin-right: 2px;
  }
}


// Swagger UI tweaks.
.swagger-ui { }
.swagger-ui .info {
  display: none;
}

// Certain elements should have a less noticeable margin.
.td-content .highlight,
.td-content .alert:not(:first-child) {
  margin-top: 1.4rem !important;
  margin-bottom: 1.4rem !important;
}

// Links in TOC should have a left-border highlight.
.td-toc {
  border-left-color: transparent !important;
}
.td-toc #TableOfContents a:before {
  content: ' ';
  display: inline-block;
  height: 1.5rem; /* height: inherit; not working? */
  left: 0;
  margin-top: -1px;
  position: absolute;
  width: 1px;
  background-color: #dee2e6;
}
.td-toc #TableOfContents a.active:before {
  background-color: $primary;
}

// Smaller font size in figure captions.
figure h4 {
  font-size: 0.75rem !important;
}

// Apply colors in Enduro.
.td-navbar {
  background-color: $enduro-c1 !important;
}

footer.bg-dark {
  background-color: #f5f5f5 !important;
  small {
    color: #333 !important;
  }
}
