on:
  push:
    tags:
      - 'v*'
name: GoReleaser
jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    #needs: [ test ]
    steps:
    - name: Check out code
      uses: actions/checkout@master
    - name: Install Node.js
      uses: actions/setup-node@v1
      with:
        node-version: '12.x'
    - name: Install UI dependencies
      run: yarn --cwd ui install
    - name: Build UI
      run: yarn --cwd ui build
    - name: GoReleaser
      uses: docker://goreleaser/goreleaser
      env:
        GITHUB_TOKEN: ${{ secrets.QUBOT_GITHUB_TOKEN }}
      with:
        args: release
      if: success()
    - name: Set RELEASE_VERSION
      run: echo ::set-env name=RELEASE_VERSION::$(echo ${GITHUB_REF:11})
    - name: Send notification to Jenkins
      run:
        curl -Ls -X GET -G https://jenkins-ci.archivematica.org/job/am-packbuild/job/rpm-jenkinsci/buildWithParameters \
          -d "token=$JENKINS_TOKEN" \
          -d "PACKAGE=enduro" \
          -d "VERSION=$RELEASE_VERSION" \
          -d "RELEASE=1" \
          -d "PACKBUILD_BRANCH=dev/enduro-package" \
          -d "REPOSITORY=nha"
      env:
        JENKINS_TOKEN: "${{ secrets.JENKINS_TOKEN }}"
        RELEASE_VERSION: "${{ env.RELEASE_VERSION }}"
      if: success()
